<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/application_style.css">
    <title>Title</title>
</head>
<body>

<form>
    <label for="email">Email
        <input id="email" type="text_field" min="100" max="220" step="1" value="175">
        cm</label><br>
    <label for="password">Masse:
        <input id="password" type="password" min="30" max="225" step="0.1" value="75">
        kg</label>
    <button type="button" id="berechnen">Sign Up</button>
</form>

</body>
</html>